<div class="card-trip">
  <div class="position-relative">
    <div class="card-category card-large">
    <div class="profile-info">
      <i class="fa-duotone fa-font-case"></i>
      <h1 class="my-profile-word">My Profile</h1>
      <p class="profile-details">Name : <%= @user.name %></p>
      <p class="profile-details">Email: <%= @user.email %></p>
      <p class="profile-details">Age: <%= @user.age %></p>
      <p class="profile-details">Gender: <%= @user.gender %></p>
      <p class="profile-details">Address: <%= @user.address %></p>
    </div>
    </div>
  </div>
  <div class="edit-profile">

      <div class="flex-centered">
        <button type="button" class="btn btn-light">
        <%= link_to "Edit My Profile", edit_user_path(@user)%>
        </button>
      </div>

      <h3 class="my-profile-word flex-centered">My Saved Restaurants</h3>
      <% current_user.restaurants.each do |restaurant| %>
      <%= restaurant.name %>

      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "new-house.png", class: "icons"%>
  <% end %>
  <%= link_to filters_path do %>
    <%= image_tag "cutlery-option.png", class: "icons" %>
  <% end %>
  <%= link_to new_bill_path do %>
    <%= image_tag "receipt-nav.png", class: "icons" %>
  <% end %>
  <%= link_to user_path(current_user) do %>
    <%= image_tag "user-icon.png", class: "icons" %>
  <% end %>

</div>
<% end %>
</div>
