<div class="position-relative">
  <div class="card-category card-large">
    <h1>My Profile</h1>
    <p>Name : <%= @user.name %></p>
    <p>email: <%= @user.email %></p>
    <p>Age: <%= @user.age %></p>
    <p>Gender: <%= @user.gender %></p>
    <p>Address: <%= @user.address %></p>
  </div>
</div>
<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <div>
      <%= link_to "Edit My Profile", edit_user_path(@user)%>
    </div>
  </div>
  <div class="row my-2">
  </div>
</div>
