<div class="position-relative">
  <div class="card-category card-large">
  <div class="profile-info">
    <h1 class="my-profile">My Profile</h1>
    <p class="profile-details">Name : <%= @user.name %></p>
    <p class="profile-details">Email: <%= @user.email %></p>
    <p class="profile-details">Age: <%= @user.age %></p>
    <p class="profile-details">Gender: <%= @user.gender %></p>
  </div>
  </div>
</div>
<div class="edit-profile">

    <div>
      <%= link_to "edit profile", edit_user_path(@user)%>
    </div>

    <% current_user.restaurants.each do |restaurant| %>
    <%= restaurant.name %>

<% end %>
  <%# </div> %>
  <%# <div class="row my-2"> %>
  </div>
</div>








<%# <p>Address(latitude):  @user.latitude</p> %>
    <%# <p>Address(longitude): @user.longitude</p> %>
