<div class="card-sll">
  <img class= "card-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-small-infos">
    <div>
      <h2><%= "restaurant.name" %></h2>
      <p><%= "Why you'll love it:" %></p>
      <p><%= "Price Per Person:" %></p>
      <p><%= "How others feel:" %></p>
    </div>
    <p><%= "why youll love" %></p>
    <p><%= "£" %></p>
    <p><%= "emoji" %></p>
  </div>
</div>


<%# <p><%= class="fa-solid fa-fire" %>
