

<% if user_signed_in? %>
<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "new-house.png", class: "icons"%>
  <% end %>
  <%= link_to filters_path do %>
    <%= image_tag "cutlery-option.png", class: "icons" %>
  <% end %>
  <%= link_to new_bill_path do %>
    <%= image_tag "receipt-nav.png", class: "icons" %>
  <% end %>
  <%= link_to user_path(current_user) do %>
    <%= image_tag "user-icon.png", class: "icons" %>
  <% end %>

</div>
<% end %>
