  <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
      <p>1 of 2</p>
    </div>
    <h1>Upload a Bill</h1>
  </header>

<div class="container pt-4 pb-5">
<p>“Thanks for keeping us honest for uploading bill. This helps users stay up to date on restaurant pricing to fight your next bill split with friends!”</p>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
     <div class= "bill rounded-4 p-3 shadow">
      <div  class= "rounded-4 p-3 shadow">

      <%# <div > %>

        <h3>Add Bill:</h3>
        <br>
        <%= simple_form_for @bill do |f| %>
          <%= f.input :date_of_visit%>
          <%= f.input :restaurant.name, class: "restaurant-name" %>
          <%= f.input :number_of_people %>
          <%= f.input :food_price %>
          <%= f.input :drink_price %>
          <%= f.input :total_price %>

          <%= f.submit "Submit Bill", class: 'submit-btn' %>
        <% end %>

      </div>
    </div>
  </div>
  </div>
</div>
<div class="set-height-bills"></div>
