<%# <h2>5 Perfect Restaurants</h2> %>


<header class="header flex-shrink-0">
  <div class="name-number">
    <%= link_to "MixEatUp", root_path%>
    <p> 3 of 3</p>
  </div>
  <h1>5 Perfect Restaurants</h1>
</header>
<%# container py-5 %>
<div class="cover d-flex align-items-center justify-content-center">
  <%# <div class="text-center text-black">
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div> %>
</div>
<div class="stimulus-container" data-controller="swipe-restaurants">
<div class="card-container" data-swipe-restaurants-target="mainCarousel">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <% @restaurants.each_with_index do |restaurant, index| %>
      <% active = index == 0 ? "active": "" %>
        <div class="carousel-item <%= active %>" id="<%= index %>" data-swipe-restaurants-target="carouselItem">
          <div class="card-small" onclick="this.classList.toggle('flipped')">
            <div class="card-inner">
              <div class="front">
                <img src="https://img.freepik.com/premium-photo/delicious-details-closeup-food-table-with-purpose_950053-1523.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699747200&semt=ais" style="height:300px" />
                <div class="card-small-infos">

                  <h2 class="title"><%= restaurant.name  %> <%= restaurant.trending %></h2>
                  <%# <div class="info-icon"> %>
                </div>
                  <%# <div class="details-icon"> %>
                <div class="info">
                  <div>
                    <h4><i class="fa-solid fa-utensils"><%= " : " %></i><%= restaurant.cuisine_type %></h4>
                    <h4><%= "Why you'll love it: " %> <%= restaurant.about %> <%= " " %> <i class="fa-solid fa-wand-magic-sparkles"></i></h4>
                    <h4><%= "Price Per Person: £" %><%= (restaurant.budget.map {|budget| budget.to_i }).sum / restaurant.budget.length %></h4>
                    <h4><%= "How others feel: " %><%= restaurant.rating %></h4>
                  </div>

                </div>
                  <div class="title-icon">
                  <div class="card-nav">
                  <%= link_to saved_restaurants_path( {restaurant_id: restaurant.id}), data: {turbo_method: :post}   do  %>
                    <i class="fa-regular fa-bookmark icon"></i>
                    <% end %>
                  <%= link_to liked_restaurants_path( {restaurant_id: restaurant.id}), data: {turbo_method: :post}   do  %>
                    <i class="fa-regular fa-heart icon" ></i>
                    <% end %>
                  </div>
                    <i class="fa-solid fa-circle-info"></i>
                  </div>
                <%# </div> %>
              </div>
            <div class="back">
              <div class="pic-info">
                <img class="small-image" src="https://img.freepik.com/premium-photo/delicious-details-closeup-food-table-with-purpose_950053-1523.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699747200&semt=ais" style="height:150px" />
                <p class="back-title"><%= restaurant.name  %> <%= restaurant.trending %>
                <br>
                <br>
                <br>
                <i class="fa-regular fa-envelope"></i> <i class="fa-solid fa-phone">     |</i>
                <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i>

                </p>
                </p>
                </p>


              </div>

              <div class="back-info">
                <p class="information"><%= "Address: " %><%= restaurant.address %></p>
                <p class="information"><%= "Meals this restaurant is perfect for: " %><%= restaurant.meal_type %></p>
                <p class="information"><%= "Why you'll love it: " %><%= restaurant.reason %></p>
                <p class="information"><%= "Why you'll tell your friends about us tomorrow: " %><%= restaurant.about %></p>
                <p class="information"><%= "The WHY beind our restaurant choice: " %><%= restaurant.location_details %></p>
                <p class="information"><%= "Why you should bookmark me for later: " %><%= restaurant.other_occasion %></p>
              </div>
            </div>
          </div>

        </div>
        </div>
      <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="filter: invert(100%);">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="filter: invert(100%);" data-action="click->swipe-restaurants#swipe">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card-container d-none" data-swipe-restaurants-target="hiddenCarousel">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0 explore">Explore:</h3>
    </div>

    <%# <div class="card-grid">
        <% @restaurants.each do |restaurant| %>
        <%# <div class="card"> %>
            <%# <%= link_to restaurant_path(restaurant), class:"text-decoration-none card-class" do %>
                <%# <div class="card-class-infos"> %>
                  <%# <h3><%= restaurant.name</h3>  %>
                <%# </div> %>
            <%# <% end %>
        <%# </div> %>
        <%# <% end %>
    <%# </div> %>

      <%# <p class="information"><%= "Type of occasions this restaurant is perfect for: " restaurant.other_occasion</p>  %>

      <div id="carouselExample1" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item"></div>
        <div class="carousel-item active">
        <!-- Example link to trigger page reload -->
<%= link_to "Not found what you're looking for..click here for another 5", restaurants_path({next_5: true}), id: 'refresh-link' %>

          <%# <h1>Not found what you're looking for..click here for another 5</h1> %>
        </div>
        <div class="carousel-item"></div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev" style="filter: invert(100%);" data-action="click->swipe-restaurants#swipeLeft">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next" style="filter: invert(100%);">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<script>
  function flipCard(card) {
    card.classList.toggle("flipped");

     if (card.classList.contains("flipped")) {
      // Update the content of the back card
      var backContent = card.querySelector(".back");
      backContent.innerHTML = `<p>Here is more information</p>`;
    }
  }
</script>
<%# <script>
  function refreshPage() {
    // You can add additional logic here to customize the page reload behavior
    location.reload();
  }
</script> %>
