
<h2>Loading...</h2>


<h3>Your choices...</h3>

<ul>
<li>Meal: <%= cookies[:meal] %></li>
<li>Occasion: <%= cookies[:occasion] %></li>
<li>Budget: <%= cookies[:budget] %> </li>
<li>Location: <%= cookies[:location] %></li>
<li>Total price: <%= cookies[:total_price] %></li>
<li>Number of people: <%= cookies[:number_of_people] %></li>
<li>Wheat: <%= cookies[:wheat] %></li>
<li>Lactose: <%= cookies[:lactose] %></li>
<li>Nuts: <%= cookies[:nuts] %></li>
<li>Vegetarian: <%= cookies[:vegetarian] %></li>
<li>City: <%= cookies[:city] %></li>
<li>Radius: <%= cookies[:radius] %></li>
<li>Allergies: <%= cookies[:preferences] %></li>
<li>Filter: <%= cookies[:filter] %></li>
</ul>


<br>
<br>
<br>
<br>
<br>
<br>
<button class= "button">
  <%=  link_to "See results", restaurants_path  %>
</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
