
 <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
    </div>
  </header>
<div data-controller="loading-page">
<br>
<br>
  <h2>Calculating Your Perfect Matches</h2>
  <br>
  <h3>Your choices:</h3>
  <ul>
    <li data-loading-page-target="listItems" class= "d-none">Meal: <%= cookies[:meal].capitalize %></li>
    <% if cookies[:occasion] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">Occasion: <%= cookies[:occasion].capitalize %></li>
    <% end %>
    <% if cookies[:location] == "positive"%>
    <li data-loading-page-target ="listItems" class= "d-none">Location: <%= cookies[:city] %></li>
    <% end %>
    <% if cookies[:total_price] == "positive" %>
    <li data-loading-page-target ="listItems" class= "d-none">Total price: <%= cookies[:total_price] %></li>
    <% end %>
    <% if cookies[:number_of_people] =="positive" %>
    <li data-loading-page-target ="listItems" class= "d-none">Number of people: <%= cookies[:number_of_people] %></li>
    <% end %>
    <% if cookies[:wheat] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">Wheat: <%= cookies[:wheat] %></li>
    <% end %>
    <% if cookies[:lactose] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">Lactose: <%= cookies[:lactose] %></li>
    <% end %>
    <% if cookies[:nuts] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">Nuts: <%= cookies[:nuts] %></li>
    <% end %>
    <% if cookies[:vegetarian] == "positive" %>
    <li data-loading-page-target = "listItems" class= "d-none">Vegetarian: <%= cookies[:vegetarian] %></li>
    <% end %>
    <% if cookies[:city] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">City: <%= cookies[:city] %></li>
    <% end %>
    <% if cookies[:radius] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">Radius: <%= cookies[:radius] %></li>
    <% end %>
    <% if cookies[:allergies] == "positive" %>
    <li data-loading-page-target= "listItems" class= "d-none">Allergies: <%= cookies[:preferences] %></li>
    <% end %>
  </ul>

  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 data-loading-page-target ="listItems" class= "d-none">Loading</h2>

  <h2 data-loading-page-target ="listItems" class= "d-none">.</h2>
  <h2 data-loading-page-target ="listItems" class= "d-none">.</h2>
  <h2 data-loading-page-target ="listItems" class= "d-none">.</h2>
  <br>
  <div class="col-md-12 text-center">
  <button data-loading-page-target ="listItems" class= "button d-none" >
    <%=  link_to "See results", restaurants_path  %>
  </button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
