<div class="position-relative">
  <div class="card-category card-large">
    <h1><%= @restaurant.name %></h1>

    <p>address: <%= @restaurant.address %></p>
    <p>cuisine_type: <%= @restaurant.cuisine_type %></p>
    <p>phone_no: <%= @restaurant.phone_no %></p>
    <p>chain: <%= @restaurant.chain %></p>
    <p>budget: <%= @restaurant.budget %></p>
    <p>opening_hour: <%= @restaurant.opening_hour %></p>
    <p>closing_hour: <%= @restaurant.closing_hour %></p>
    <p>meal_type: <%= @restaurant.meal_type %></p>
    <p>reason: <%= @restaurant.reason %></p>
    <p>rating: <%= @restaurant.rating %></p>
    <p>trending: <%= @restaurant.trending %></p>
    <p>instagram: <%= @restaurant.instagram %></p>
    <p>facebook: <%= @restaurant.facebook %></p>
    <p>resy: <%= @restaurant.resy %></p>
    <p>about: <%= @restaurant.about %></p>
    <p>location_details: <%= @restaurant.location_details %></p>
    <p>other_occasion: <%= @restaurant.other_occasion %></p>

  </div>
</div>

<%# name:
address:
cuisine_type:
phone_no:
chain:
budget:
opening_hour:
closing_hour:
meal_type:
latitude:
longitude:
reason:
rating:
trending:
instagram:
facebook:
resy:
about:
location_details:
other_occasion: %>
