
<!-- Hello from budget
As we embark on this culinary voyage, what financial parameters should we budget for?As we embark on this culinary voyage, <br>
what financial parameters should we budget for?<br>
<!-- <% if cookies[:filter] == "budget" %> -->
<!-- <%= form_for :my_method, url: filters_meal_path, method: :get do |f|  %> -->
<!--   <%= f.text_field :total_price, input_html: { type: 'number' } %> -->
<!--   <%= f.text_field :number_of_people, input_html: { type: 'number' } %> -->
<!--   <%= f.submit "Next" %> --> -->



  <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
      <p> 1 of 3</p>
    </div>
    <h1>Budget</h1>
  </header>


  <div class="label">
    As we embark on this culinary voyage, what financial parameters should we budget for?
  </div>

  <% if cookies[:filter] == "budget" %>
  <%= form_for :my_method, url: filters_meal_path, method: :get do |f|  %>
    <%= f.text_field :total_price, input_html: { type: 'number' } %>
    <%= f.text_field :number_of_people, input_html: { type: 'number' } %>
    <%= f.submit "Next" %>
    <% end %>
  <% else %>
  <%= form_for :my_method, url: filters_preferences_path, method: :get do |f|  %>
    <%= f.text_field :total_price, input_html: { type: 'number' } %>
    <%= f.text_field :number_of_people, input_html: { type: 'number' } %>
    <%= f.submit "Next" %>
    <% end %>
  <% end %>


