  <div class="label">
    To place the finishing touches on your dining symphony, are there any crucial last-minute notes to hit the right culinary crescendo?
  </div>


  <%= form_for :user_clarifications, url: filters_preferences_path, method: :get do |f| %>


    <div class="card-clarification" data-field="preferences" onclick="toggleCheckbox(this, 'preferences')">
      <div class="card-content">
        <%= f.hidden_field :preferences, id: "preferences" %>
        <%= f.label :preferences, "Food Preferences" %>
      </div>
    </div>

    <div class="card-clarification" data-field="location" onclick="toggleCheckbox(this, 'location')">
      <div class="card-content">
        <%= f.hidden_field :location, id: "location" %>
        <%= f.label :location, "Location" %>
      </div>
    </div>

    <%= f.submit "Next", class: "styled-button", id: "submit-button" %>

  <% end %>

<script>
  function toggleCheckbox(element, field) {
    const checkbox = element.querySelector(`input[name="user_clarifications[${field}]"]`);
    checkbox.value = !checkbox.value;
    checkbox.checked = !checkbox.checked;
    element.classList.toggle('selected', checkbox.checked);
  }
</script>



<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
