<div class="header">
  <div class="name-number">
    <a href="#home">MixEatUp</a>
    <p> 4 of 4</p>
  </div>
  <h1>Final Detailsl</h1>
</div>
<div>


<div class="label">
  <p class="label">
    <span class ="text-wrapper">To place the </span>
    <span class ="span">finishing touches on your dining symphony,</span>
    <span class ="text-wrapper"> are there any crucial last-minute notes to hit the right culinary crescendo?</span>
  </p>
</div>



<%= form_for :user_clarifications, url: filters_user_clarification_choice_path, method: :get  do |f| %>
  <%= f.label "Budget important?" %> <br />
  <%= f.check_box :budget %> <br />

  <%= f.label "Food preferences important?" %> <br />
  <%= f.check_box :preferences %> <br />

  <%= f.label "Location important?" %> <br />
  <%= f.check_box :location %> <br />

  <%= f.submit "Next" %>
<% end %>



<%# # IMPORTANT BELOW????? %>

<%# <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
  <label class="form-check-label" for="flexCheckDefault">
    Is budget important?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Food preferences?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Is location important?
  </label>
</div>

<%#
# IMPORTANT BELOW?????
=begin%>

<%# <%= simple_form_for :my_method, url: filters_budget_path, method: :get do |f|  %>
<%# <%= f.input :budget, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
<%# <%= f.input :preferences, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
<%# <%= f.input :location, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
<%# <%= f.button :submit %>
<%# <% end %>
<%# <% %>
<%# =end %>
<%# use form_for instead %>
