
  <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
    </div>
    <h1>Final Details</h1>
  </header>


  <div class="label">
    To place the finishing touches on your dining symphony, are there any crucial last-minute notes to <b>hit the right culinary crescendo?</b>
  </div>


  <%=  form_for(:user_clarifications, url: filters_user_clarification_choice_path, method: :get, data: {controller: "buttons"})  do |f| %>

    <div class="card-clarification" style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('https://i2-prod.mirror.co.uk/incoming/article30930935.ece/ALTERNATES/s615/0_Hands-with-bill-food-service-and-people-in-restaurant-customer-with-receipt-and-payment-with-cashi.jpg') %>');" data-field="budget" data-action="click->buttons#selectButton" onclick="toggleCheckbox(this, 'budget')">
      <div class="card-content">
        <%= f.hidden_field :budget, id: "budget" %>
         <%# <p class= "clarifications-submit">Budget</p> %>
        <%= f.label :budget, "Budget"%>
      </div>
    </div>

    <div class="card-clarification " style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('https://img.livestrong.com/640/cme-data/getty%2F999a2db907c849b6a162d2c843a8173d.jpg') %>');" data-field="preferences" data-action="click->buttons#selectButton" onclick="toggleCheckbox(this, 'preferences')">
      <div class="card-content ">
        <%= f.hidden_field :preferences, id: "preferences" %>
        <%= f.label :preferences, "Food Preferences" %>
      </div>
    </div>

    <div class="card-clarification" style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('https://images.france.fr/zeaejvyq9bhj/ic0lFVDFxxEKOycVSGLCO/a631fd4f1249538c53d5aaaa0f32078c/Header_Image_-Credit_-_Adobe_Ekaterina_Belova_v1.jpg') %>');"  data-field="location" data-action="click->buttons#selectButton" onclick="toggleCheckbox(this, 'location')">
      <div class="card-content">
        <%= f.hidden_field :location, id: "location" %>
        <%= f.label :location, "Location" %>
      </div>
    </div>
    <div class="two-buttons">
    <%= f.button :button, type: :submit, class: "left-button", data: { buttons_target: "submit" } do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

      <p>4 of 4</p>

    <%= f.button :button, type: :submit, class: "right-button", data: { buttons_target: "submit" } do %>
      <i class="fa-solid fa-arrow-right"></i>
    <% end %>
    </div>
  <% end %>

<script>
  function toggleCheckbox(element, field) {
    const checkbox = element.querySelector(`input[name="user_clarifications[${field}]"]`);
    checkbox.value = !checkbox.value;
    checkbox.checked = !checkbox.checked;
    element.classList.toggle('selected', checkbox.checked);

  }
</script>

