Hello from clarifications
<%# <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
  <label class="form-check-label" for="flexCheckDefault">
    Is budget important?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Food preferences?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Is location important?
  </label>
</div> %>

<h1>Cookies to use for the filtering</h1>


<%= form_for :user_clarifications, url: filters_user_clarification_choice_path, method: :get  do |f| %>
  <%= f.label "Budget important?" %> <br />
  <%= f.check_box :budget %> <br />

  <%= f.label "Food preferences important?" %> <br />
  <%= f.check_box :preferences %> <br />

  <%= f.label "Location important?" %> <br />
  <%= f.check_box :location %> <br />

  <%= f.submit "Next" %>
<% end %>

<%
=begin%>

<%= simple_form_for :my_method, url: filters_budget_path, method: :get do |f|  %>
<%= f.input :budget, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
<%= f.input :preferences, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
<%= f.input :location, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
<%= f.button :submit %>
<% end %>
<%
=end%>
<%# use form_for instead %>
