<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet/scss" href="app/assets/stylesheets/components/_decisions.scss">
</head>

<body>
  <div class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
      <p>1 of 4</p>
    </div>
    <h1>Let's Get Started</h1>
  </div>
  <div>
  <div class="background-style">
    <div class="card-get-started">
      <%= image_tag "dinner.jpeg", class: "dinner-pic" %>
      <div class="overlay-text">
        <%= link_to filters_occasion_path(:filter => :event) do %>
          Occasion
        <% end %>
      </div>
    </div>

    <div class="card-get-started">
      <%= image_tag "budgeting.jpeg", class: "budget-pic" %>
      <div class="overlay-text">
        <%= link_to filters_budget_path(:filter => :event) do %>
        Budget
        <% end %>
      </div>
    </div>
  </div>
  </body>
  </html>
