<header class="header">
  <div class="name-number">
    <%= link_to "MixEatUp", root_path%>
  </div>
  <h1>Location</h1>
</header>
<div class="label">
  Let's keep the dining drama free. Select your city to unlock a world of culinary delight!
</div>
<div class="location-indulge-cards-wrapper" id= "location-wrapper-modifier">


  <div class="location_container" data-controller="map address-autocomplete"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-latitude-value=""
      data-map-longitude-value=""
      data-map-radius-value="">
    <%= simple_form_for :geolocation, html: { class: "flex-column align-items-end"}, url: restaurants_loading_path, method: :get do |f| %>
      <%= f.input :city, label: "Where would you like to dine?", input_html: {
        data: {
            address_autocomplete_target: "address"
          },
          class: "d-none"
        }, wrapper_html: {
            data: {
              address_autocomplete_target: "wrapper"
            }
          } %>
      <%= f.input :radius,
                  collection: [1, 5, 10, 15],
                  label: 'How far are you willing to travel?',
                  prompt: "Select Radius",
                  input_html: { data: { map_target: "radiusInput", action: "change->map#search" } } %>
      <div style="width: 100%; height: 390px; border-radius: 15px;" class="mt-4" data-map-target="map"></div>

      <i class="fa-solid fa-circle-check fa-xl"></i>

      <button class="corner-button"><%= f.button :submit, 'Next' %></button>
    <% end %>


  </div>
</div>

<a href="https://www.facebook.com/alexandra.young.9028" target= "_blank">
    <i class="fa-brands fa-facebook"></i></a>
