<header class="header flex-shrink-0">
  <div class="name-number">

    <%# <%= link_to "MixEatUp", root_path %>


  </div>
  <h1>Meals</h1>
</header>

<div class="container d-flex flex-column align-items-center justify-content-between row-gap-3 my-3 max-container-height">
  <div class="label">
    We certainly don't want to match you with a restaurant taking the day off. <b>When do you plan to dine?</b>
  </div>

  <div class="card-occasion w-100">
    <%= image_tag "pancakes.jpg", class: "occ-style" %>
    <div class="overlay-text">
      <% if cookies[:filter] == "budget"  %>
        <%=link_to  "Breakfast", filters_budget_clarifications_path(meal: "breakfast")  %>
      <% else %>
        <%=link_to  "Breakfast", filters_clarifications_path(meal: "breakfast")  %>
      <% end %>
    </div>
  </div>

  <div class="card-occasion w-100">
    <%= image_tag "Lobster.jpeg", class: "occ-style" %>
    <div class="overlay-text">
    <% if cookies[:filter] == "budget"  %>
      <%= link_to "Lunch", filters_budget_clarifications_path(meal: "lunch")  %>
    <% else %>
      <%= link_to "Lunch", filters_clarifications_path(meal: "lunch")  %>
    <% end %>
    </div>
  </div>


  <div class="card-occasion w-100">
    <%= image_tag "chicken.jpg", class: "occ-style" %>
    <div class="overlay-text">
      <% if cookies[:filter] == "budget"  %>
        <%=link_to "Dinner", filters_budget_clarifications_path(meal: "dinner")  %>
      <% else %>
        <%=link_to "Dinner", filters_clarifications_path(meal: "dinner")  %>
      <% end %>
    </div>
  </div>

  <div class="card-occasion w-100">
    <%= image_tag "cocktail3.jpg", class: "occ-style" %>
    <div class="overlay-text">
      <% if cookies[:filter] == "budget"  %>
        <%=link_to "Drinks", filters_budget_clarifications_path(meal: "drinks")  %>
      <% else %>
        <%= link_to "Drinks", filters_clarifications_path(meal: "drinks")  %>
      <% end %>
    </div>
  </div>

 <div class="d-flex align-items-center justify-content-center gap-4 my-2">
      <%= button_tag type: 'button', class: "left-button", onclick: "history.back();" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>

      <p class="mb-0">3 of 4</p>

      <%= button_tag type: 'button', class: "right-button", disabled: true do %>
        <i class="fa-solid fa-arrow-right"></i>
      <% end %>

    </div>
</div>
