<header class="header flex-shrink-0">
  <div class="name-number">
    <%= link_to "MixEatUp", root_path%>
    <p>2 of 4</p>
  </div>
  <h1>Occasion</h1>
</header>

<div class="container d-flex flex-column align-items-center justify-content-between row-gap-3 max-container-height my-3">
  <div class="label">
    Whether it's a soirée with friends, family outing or the thrilling premiere of a first date, what's your occasion?
  </div>


  <div class="card-occasion w-100">
      <%= image_tag "dayte.jpg", class: "occ-style" %>
    <div class="overlay-text">
      <%= link_to "Romantic", filters_meal_path(occasion: "romantic")%>
    </div>
  </div>

  <div class="card-occasion w-100">
    <%= image_tag "famdin.jpg", class: "occ-style" %>
    <div class="overlay-text">
      <%= link_to "Family", filters_meal_path(occasion: "family")%>
    </div>
  </div>

  <div class="card-occasion w-100">
    <%= image_tag "friends.jpeg", class: "occ-style" %>
    <div class="overlay-text">
      <%= link_to "Friends", filters_meal_path(occasion: "friends")%>
    </div>
  </div>

  <div class="card-occasion w-100">
    <%= image_tag "work.jpeg", class: "occ-style" %>
    <div class="overlay-text">
      <%= link_to "Work", filters_meal_path(occasion: "work")%>
    </div>
  </div>
</div>
