
  <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
      <p> 3 of 3</p>
    </div>
    <h1>Food Preferences</h1>
  </header>

  <div class="label">
    <p class="label">
      <span class ="text-wrapper">Don't let food FOMO strike! Tell us your <b>food preferences</b>, and we'll craft a menu that leaves no one hungry. </span>
      <span class ="span">budget for?</span>
    </p>
  </div>

  <div class="card-preferences">

    <div class="preference-item" data-item="wheat">
      <%# <%= image_tag "wheat.jpg", class: "style-pref", alt: "Wheat"%>
      <div class="overlay-text3">
        <%= simple_form_for :my_method, url: filters_location_path, method: :get do |f| %>
          <%= f.input :wheat, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
          <%= f.button :submit %>
          <% end %>
      </div>
      </div>
    </div>


<div class="d-flex">
  <div class="background-style">
    <div class="card-get-started" style="width: 190px;margin: 10px; height:auto; object-fit: cover;">
      <%= image_tag "wheat.jpeg", class: "dinner-pic" %>
      <div class="overlay-text">
        <%= link_to filters_occasion_path(filter: "occasion") do %>
          Wheat
        <% end %>
      </div>
    </div>
  </div>
    <div class="background-style">
      <div class="card-get-started" style="width: 190px;margin: 10px; height:auto; object-fit: cover;">
        <%= image_tag "lactose.jpeg", class: "dinner-pic" %>
        <div class="overlay-text">
          <%= link_to filters_occasion_path(filter: "occasion") do %>
            Lactose
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="d-flex">
  <div class="background-style">
    <div class="card-get-started" style="width: 190px;margin: 10px; height:auto; object-fit: cover;">
      <%= image_tag "nuts.jpeg", class: "dinner-pic" %>
      <div class="overlay-text">
        <%= link_to filters_occasion_path(filter: "occasion") do %>
          Nuts
        <% end %>
      </div>
    </div>
  </div>

  <div class="background-style">
    <div class="card-get-started" style="width: 190px;margin: 10px; height:auto; object-fit: cover;">
      <%= image_tag "vegetarian.jpeg", class: "dinner-pic" %>
      <div class="overlay-text">
        <%= link_to filters_occasion_path(filter: "occasion") do %>
          Vegetarian
        <% end %>
      </div>
    </div>
</div>
</div>
