
  <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
      <p> 3 of 3</p>
    </div>
    <h1>Food Preferences</h1>
  </header>

  <div class="label">
    <p class="label">
      <span class ="text-wrapper">Don't let food FOMO strike! Tell us your <b>food preferences</b>, and we'll craft a menu that leaves no one hungry. </span>
      <span class ="span">budget for?</span>
    </p>
  </div>

  <div class="card-preferences">

<%= form_for :user_clarifications, url: filters_location_path, method: :get do |f| %>
  <div class="d-flex">
    <div class="card-clarification"
     style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('wheat.jpg') %>');"
     data-field="wheat" onclick="toggleCheckbox(this, 'wheat')">
      <div class="card-content">
        <%= f.hidden_field :wheat, id: "wheat" %>
        <%= f.label :wheat, "wheat", class: "text-white"  %>
      </div>
    </div>

    <div class="card-clarification"
      style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('lactose.jpeg') %>')"
      data-field="lactose" onclick="toggleCheckbox(this, 'lactose')">
      <div class="card-content">
        <%= f.hidden_field :lactose, id: "lactose" %>
        <%= f.label :lactose, "lactose", class: "text-white"  %>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="card-clarification"
          style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('nuts.jpeg') %>')"
          data-field="nuts" onclick="toggleCheckbox(this, 'nuts')">
      <div class="card-content">
        <%= f.hidden_field :nuts, id: "nuts" %>
        <%= f.label :nuts, "nuts",  class: "text-white" %>
      </div>
    </div>

       <div class="card-clarification"
        style="background-size:cover; background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= image_url('vegetarian.jpeg') %>')"
         data-field="vegetarian" onclick="toggleCheckbox(this, 'vegetarian')">
      <div class="card-content">
        <%= f.hidden_field :vegetarian, id: "vegetarian" %>
        <%= f.label :vegetarian, "vegetarian", class: "text-white" %>
      </div>
    </div>
  </div>
    <%= f.submit "Next", class: "styled-button", id: "submit-button" %>

<% end %>

  <script>
    function toggleCheckbox(element, field) {
      const checkbox = element.querySelector(`input[name="user_clarifications[${field}]"]`);
      checkbox.value = !checkbox.value;
      checkbox.checked = !checkbox.checked;
      element.classList.toggle('selected', checkbox.checked);
    }
  </script>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



 <%# <div class="preference-item" data-item="wheat">
      <%# <%= image_tag "wheat.jpg", class: "style-pref", alt: "Wheat"%>
      <%# <div class="overlay-text3"> %>
        <%# <%= simple_form_for :my_method, url: filters_location_path, method: :get do |f| %>
          <%# <%= f.input :wheat, as: :boolean, checked_value: "positive", unchecked_value: "negative" %>
          <%# <%= f.button :submit %>
          <%# <% end %>
      <%# </div> %>
      <%# </div> %>
    <%# </div> %>
