
  <header class="header">
    <div class="name-number">
      <%= link_to "MixEatUp", root_path%>
      <p> 3 of 3</p>
    </div>
    <h1>Food Preferences</h1>
  </header>

  <div class="label">
    <p class="label">
      <span class ="text-wrapper">Don't let food FOMO strike! Tell us your <b>food preferences</b>, and we'll craft a menu that leaves no one hungry. </span>
      <span class ="span">budget for?</span>
    </p>
  </div>
  <%= form_for :user_clarifications, url: filters_user_clarification_choice_path, method: :get do |f| %>

  <div class="d-flex">
    <div class="card-preferences">
      <div class="top-check-boxes d-flex justify-content-between">
        <input class="custom-checkbox" type="checkbox" id="wheat" name="wheat" value="1">
        <label class="card-indulge wheat-label test-preferences" for="wheat">

        <% f.hidden_field :wheat, id: "wheat" %>
        Wheat

        </label>


        <input class="custom-checkbox" type="checkbox" id="lactose" name="lactose" value="1">
        <label class="card-indulge lactose-label test-preferences" for="lactose">
        <% f.hidden_field :lactose, id: "lactose" %>
        <%=f.label :lactose, "Lactose" %>


        </label>
        </div>

      <div class="top-check-boxes d-flex justify-content-between">
        <input class="custom-checkbox" type="checkbox" id="nuts" name="nuts" value="1">
        <label class="card-indulge nuts-label test-preferences" for="nuts">

        <% f.hidden_field :nuts, id: "nuts" %>
        <%=f.label :nuts, "Nuts" %>
        </label>

        <input class="custom-checkbox" type="checkbox" id="vegetarian" name="vegetarian" value="1">
        <label class="card-indulge vegetarian-label test-preferences" for="vegetarian">
        <% f.hidden_field :vegetarian, id: "vegetarian" %>
        <%=f.label :vegetarian, "Vegetarian" %>

        </label>
    </div>
    <%= f.submit "Next", class: "styled-button", id: "submit-button" %>
</div>
</div>


  <% end %>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
