


  <header class="header flex-shrink-0">
    <div class="name-number">

      <%# <%= link_to "MixEatUp", root_path%>
      <% if cookies[:filter] == "occasion" && cookies[:budget] == "positive" && cookies[:location] == "positive" %>
     <p> 2 of 3</p>
     <% elsif cookies[:filter] == "occasion" &&  cookies[:location] == "positive" %>
     <p> 1 of 2</p>
      <% elsif cookies[:filter] == "occasion" && cookies[:budget] == "positive"  %>
     <p> 2 of 2</p>
     <% elsif cookies[:filter] == "occasion" %>
     <p> 1 of 1</p>
     <% elsif cookies[:filter] == "budget" %>
     <p>1 of 1</p>
     <% elsif cookies[:filter] == "budget" && cookies[:location] == "positive" %>
     <p>1 of 2</p>
     <% end %>


<!--       <%= link_to "MixEatUp", root_path%> -->



    </div>
    <h1>Food Preferences</h1>
  </header>


<div class="container d-flex flex-column align-items-center justify-content-between row-gap-3 max-container-height my-3">

  <div class="label">
    <p class="label">
      <span class ="text-wrapper">Don't let food FOMO strike! Tell us your <b>food preferences</b>, and we'll craft a menu that leaves no one hungry. </span>
      <span class ="span">budget for?</span>
    </p>
  </div>
  <%= form_for :user_clarifications, url: filters_location_path, method: :get, class: 'w-100 flex-grow-1 d-flex flex-column gap-3  align-items-center justify-content-between' do |f| %>
    <div class="d-flex w-100 flex-grow-1">
      <div class="card-preferences d-flex flex-column align-items-center justify-content-center h-100 w-100 flex-grow-1 gap-3">
        <div class="top-check-boxes d-flex justify-content-between flex-grow-1 w-100">
          <input class="custom-checkbox" type="checkbox" id="wheat" name="wheat" value="positive">
          <label class="card-indulge h-100 flex-grow-1 wheat-label test-preferences" for="wheat">
            <% f.hidden_field :wheat, id: "wheat" %>
            Wheat
          </label>
          <input class="custom-checkbox" type="checkbox" id="lactose" name="lactose" value="positive">
          <label class="card-indulge h-100 flex-grow-1 lactose-label test-preferences" for="lactose">
            <% f.hidden_field :lactose, id: "lactose" %>
            <%=f.label :lactose, "Lactose" %>
          </label>
        </div>

        <div class="top-check-boxes d-flex justify-content-between flex-grow-1 w-100">
          <input class="custom-checkbox" type="checkbox" id="nuts" name="nuts" value="positive">
          <label class="card-indulge h-100 flex-grow-1 nuts-label test-preferences" for="nuts">
            <% f.hidden_field :nuts, id: "nuts" %>
            <%=f.label :nuts, "Nuts" %>
          </label>

          <input class="custom-checkbox" type="checkbox" id="vegetarian" name="vegetarian" value="positive">
          <label class="card-indulge h-100 flex-grow-1 vegetarian-label test-preferences" for="vegetarian">
            <% f.hidden_field :vegetarian, id: "vegetarian" %>
            <%=f.label :vegetarian, "Vegetarian" %>
          </label>
        </div>


      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-4 my-2">
      <%= button_tag type: 'button', class: "left-button", onclick: "history.back();" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
      <% if cookies[:filter] == "occasion" && cookies[:budget] == "positive" && cookies[:location] == "positive" %>
        <p class="mb-0"> 2 of 3</p>
     <% elsif cookies[:filter] == "occasion" &&  cookies[:location] == "positive" %>
      <p class="mb-0"> 1 of 2</p>
    <% elsif cookies[:filter] == "occasion" && cookies[:budget] == "positive"  %>
      <p class="mb-0"> 2 of 2</p>
     <% elsif cookies[:filter] == "occasion" %>
      <p class="mb-0"> 1 of 1</p>
     <% elsif cookies[:filter] == "budget" %>
      <p class="mb-0">1 of 1</p>
     <% elsif cookies[:filter] == "budget" && cookies[:location] == "positive" %>
      <p class="mb-0">1 of 2</p>
     <% end %>
      <%= f.button :button, type: :submit, class: "right-button", data: { buttons_target: "submit" } do %>
      <i class="fa-solid fa-arrow-right"></i>
      <% end %>
    </div>

  <% end %>
</div>
